<meta charset="utf-8">
<head>
</head>

<div
	ng-controller="ProductCreateController as productCreate">
	<div class="message">添加产品</div>

	<div>
		<form class="form-product" name="createProduct">
			<table id="table-style" style="margin: 50px auto">
				<tbody>
					<tr>
						<th class="labelformat">产品名</th>
						<td><input class="input-block-level" type="text"
							ng-model="productName" ng-change="CheckProductName()" required /></td>
						<td style="color: red">*</td>
					</tr>
					<tr>
						<td></td>
						<td><label ng-show="existedProductName"
							style="text-align: center; font-weight: bold; color: red">产品名已存在！请重新输入。</label>
						</td>
						<td></td>
					</tr>
					<tr>
						<th class="labelformat">产品类型</th>
						<td><div isteven-multi-select
								input-model="productCreate.productCategories"
								output-model="selectedProductCategory" output-properties="id code"
								button-label="name" item-label="name"
								tick-property="ticked" orientation="horizontal"
								selection-mode="single"></div></td>
						<td style="color: red">*</td>
					</tr>
					<tr>
						<th class="labelformat">配方</th>
						<td><div isteven-multi-select
								input-model="productCreate.productFormulas"
								output-model="selectedProductFormula" output-properties="id name"
								button-label="name" item-label="name"
								tick-property="ticked" orientation="horizontal"
								selection-mode="single"></div></td>
						<td style="color: red">*</td>
					</tr>
					<tr>
						<th class="labelformat">简介</th>
						<td><textarea style="min-height: 60px"
								class="input-block-level" type="text"
								ng-model="productDescription" /></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="btn btn-large btn-primary"
								ng-click="productCreate.createProduct()">
								<span class="glyphicon glyphicon-upload"></span> 提交
							</button></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
<!-- /container -->