<meta charset="utf-8">
<head>
</head>

<div ng-controller="ProductCreateController as productCreate">
	<div class="message">添加产品类型</div>

	<div>
		<hr class="hr20">
		<hr class="hr20">
		<form class="form-product" name="createProduct">
			<table id="table-style" style="margin:50px auto">
				<tbody>
					<tr>
						<th class="labelformat">产品类名：</th>
						<td><input class="input-block-level" type="text"
							ng-model="productName" required /></td>
						<td style="color:red">*</td>
					</tr>
					<tr>
						<th class="labelformat">用途：</th>
						<!-- <td><input class="input-block-level" type="text"
							ng-model="productCode" required /></td>
						<td style="color:red">*</td> -->
						<td><div isteven-multi-select
											input-model="usages"
											output-model="" button-label="attribute"
											item-label="attribute" tick-property="ticked" 
											orientation="horizontal"
											selection-mode="single">
						</div></td>
						<td style="color:red">*</td>									
					</tr>
					<tr>
						<th class="labelformat">乳液类型：</th>
						<td><textarea style="resize=none;min-height:60px" class="input-block-level" type="text"
							ng-model="productDescription" /></td>
							<td></td>
					</tr>
					<tr>
						<th class="labelformat">乳液类型：</th>
						<td><textarea style="resize=none;min-height:60px" class="input-block-level" type="text"
							ng-model="productDescription" /></td>
							<td></td>
					</tr>
								<tr>
									<td></td>
									<td><button class="btn btn-large btn-primary"
											ng-click="productCreate.createProduct()">
											<span class="glyphicon glyphicon-upload"></span> 提交
										</button></td>
								</tr>
								</tbody>
							</table>
							</form>
			</div>
</div> <!-- /container -->