<meta charset="utf-8">

<div ng-controller="CreateFormulaController">
	<div class="message">新增产品配方</div>
	<div class="template">
		<table class="functionarea">
			<tbody>
				<tr>
					<th class="labelformat">配方名：</th>
					<td><input class="input-block-level" type="text"
						ng-model="formula.name" required></td>
					<td></td>
				</tr>
				<tr>
					<th class="labelformat">描述：</th>
					<td><input class="input-block-level" type="text"
						ng-model="formula.description"></td>
					<td></td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="left-align">

		<button type="button" style="float: left" ng-click="createFormula()"
			class="custombutton">
			<span class="glyphicon glyphicon-add"
				style="font-weight: bold; color: rgb(255, 140, 60);"></span> 保存配方
		</button>

	</div>
</div>
