<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="ProductListController as productList">
	<!-- 
	<form class="form-inline" ng-submit="productList.addProduct($index)">
	 -->
	 <div>
	<table datatable="ng" dt-options="productList.dtOptions"
		dt-column-defs="productList.dtColumnDefs" class="row-border hover">
		<thead>
			<tr>
				<th>产品编号</th>
				<th>产品名称</th>
				<th>描述</th>
				<th>查看/修改</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in productList.products">
			   <!-- <td><input class="input-block-level" type="text" ng-model="product.productname" value="disabled" required></td> -->
				<td>{{product.productcode}}</td>
				<td>{{product.productname}}</td>
				<td>{{product.description}}</td>
				<td>
					<button type="button"
						ng-click="productList.updateManufacturingProcess($index)"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<!-- </form> -->
</div>