<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="ProductListController as productList">
	<!-- 
	<form class="form-inline" ng-submit="productList.addProduct($index)">
	 -->
	 <div>
	<table datatable="ng" dt-options="productList.dtOptions"
		dt-column-defs="productList.dtColumnDefs" class="row-border hover" id="table-style">
		<thead>
			<tr>
				<th>产品名称</th>
				<th>产品编号</th>
				<th>产品描述</th>
				<th style="width:100px">查看/修改</th>
				<th style="width:100px">配方</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in productList.products">
			   <td><input class="editableinput" type="text" ng-model="product.productname" required /></td>
			   <td><input class="editableinput" type="text" ng-model="product.productcode" required /></td>
			   <td><textarea style="resize:none;min-width:200px" class="editableinput" type="text" ng-model="product.description" /></td>
				<!-- 
				<td>{{product.productcode}}</td> 
				<td>{{product.productname}}</td>
				<td>{{product.description}}</td>
				-->
				<td>
					<button type="button"
						ng-click="productList.updateProduct($index)"
						class="btn btn-warning" >
						<i class="fa fa-edit"></i>
					</button>					
				</td>
				<td>
					<button type="button"
						ng-click="productList.productFormula($index)"
						class="btn btn-warning">
						<i class="fa fa-list"></i>
					</button>					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<!-- </form> -->
</div>