<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="ProductCategoryListController as productCategoryList">
	<div class="right-align">
		<button class="custombutton" ng-click="productCategoryList.createProductCategory()">
			<span class="glyphicon glyphicon-new"></span> 新增产品类型
		</button>
	</div>
	 <div>
	<table datatable="ng" dt-options="productCategoryList.dtOptions"
		dt-column-defs="productCategoryList.dtColumnDefs" class="row-border hover" id="table-style">
		<thead>
			<tr>
				<th>产品类型名</th>
				<th>编码</th>
				<th>简介</th>
				<th>特点</th>
				<th>技术参数</th>
				<th>使用范围</th>
				<th style="width:100px">修改</th>
				<th style="width:100px">产品列表</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="productCategory in productCategoryList.productCategories">			   
				<td>{{productCategory.name}}</td> 
				<td>{{productCategory.code}}</td>
				<td>{{productCategory.description}}</td>
				<td>{{productCategory.characters}}</td>
				<td>{{productCategory.techParameters}}</td>
				<td>{{productCategory.scope}}</td>
				<td>
					<button type="button"
						ng-click="productCategoryList.updateProductCategory($index)"
						class="btn btn-warning" >
						<i class="fa fa-edit"></i>
					</button>					
				</td>				
				<td>
					<button type="button"
						ng-click="productCategoryList.productList($index)"
						class="btn btn-warning">
						<i class="fa fa-list"></i>
					</button>					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<!-- </form> -->
</div>