<meta charset="utf-8">

<div ng-controller="UpdateFormulaController as formulaEdit">
	<div class="message">产品配方</div>
<div class="right-align">
		<button type="button" style="float: right" ng-click="addRow()"
			class="custombutton">
			<span class="glyphicon glyphicon-new"
				style="font-weight: bold; color: rgb(255, 140, 60);"></span> 增加材料
		</button>

		<button type="button" style="float: right" ng-click="updateFormula()"
			class="custombutton">
			<span class="glyphicon glyphicon-update"
				style="font-weight: bold; color: rgb(255, 140, 60);"></span> 保存配方
		</button>

	</div>
		<table id="table-style">
				<tbody>
					<tr>
						<th class="labelformat">配方名：</th>
						<td><input class="input-block-level" type="text"
							ng-model="formula.name" required></td>
						<td></td>
					</tr>
					<tr>
						<th class="labelformat">描述：</th>
						<td><input class="input-block-level" type="text"
							ng-model="formula.description"></td>
						<td></td>
					</tr>

				</tbody>
			</table>
	
			<table style="width:100%" id="table-style">
				<thead>
					<tr>
						<th>物料</th>
						<th>比例（%）</th>
						<th style="width: 120px">编辑</th>
						<th style="width: 100px">删除</th>
					</tr>
				</thead>
				<tbody ng-model="formula.materialSettings">
					<tr ng-repeat="row in formula.materialSettings" ng-include="getTemplate(row)"
						class="item" style="cursor: move;">
					</tr>
				</tbody>
			</table>
			<script type="text/ng-template" id="display">
			  
              <td>
                <select class="td-item" disabled
    				ng-model="row.materialId"
    				ng-options="value.id as value.name for value in materials">
				</select>
              </td>
			  <td style="width:15%">{{row.materialQuantity}}</td>
			  <td>
            	<button ng-click="editContact($index)">编辑</button>
			  </td>
              <td>
				<button ng-click="removeRow($index)">删除</button>
       		  </td>
		</script>
			<script type="text/ng-template" id="edit">
              <td>
                <select class="td-item"
    				ng-model="row.materialId"
    				ng-options="value.id as value.name for value in materials">
				</select>
              </td>
            <td><input type="text" ng-model="formula.selected.materialQuantity" /></td>
        	<td>
            	<button ng-click="saveContact($index)">完成</button>
            	<button ng-click="reset()">取消</button>
        	</td>
    	</script>
	
</div>
