#table-style
{
	text-align: center;
	border-collapse: collapse;
	font:100% Arial, Helvetica, sans-serif; 
	border-collapse:collapse;margin:1em 0;
}
#table-style th
{
	text-align:left;padding:.5em;border:1px solid #fff;
	background:#328aa4 url(../images/tr_back.gif) repeat-x;color:#fff;
	font-weight:bold;
	font-size:medium;
}
#table-style td
{
	text-align:left;padding:.5em;border:1px solid #fff;
	background:#e5f1f4;
	font:100% Arial, Helvetica, sans-serif; 
}
#table-style tfoot tr td
{
}
#table-style tbody tr:hover td
{
	background: #d2eaad;
	color: #339;
}

#table-style tr.even td{background:#e5f1f4;}
#table-style tr.odd td{background:#f8fbfc;}

#table-style th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}
#table-style th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
#table-style th.selected, tr.even th.selected, tr.odd th.selected{}

#table-style td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
#table-style td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
#table-style td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}