<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ineuron.dataaccess.db.mappers.ProductMapper">
  
  
  <insert id="addProduct">
    insert into products (productname,productcode,description) 
	values(#{productname},#{productcode},#{description})  
  </insert>
  
  <select id="getProducts" resultType="com.ineuron.domain.product.entity.Product">
    select * from products
  </select>
  
  <update id="updateProduct">
    update products p set p.productname = #{productname}, p.productcode = #{productcode}, p.description=#{description} where id = #{id}
  </update>
  
  <update id="deleteProduct">
    delete from products where productname = #{productname}
  </update>
  
  <insert id="addAttribute">
    insert into productattributes (productid,attribute) 
	values(#{productid},#{attribute})
  </insert>
  
  <update id="updateAttribute">
    update productattributes a set a.attribute = #{attribute} where id = #{id}
  </update>
  
   <delete id="deleteAttribute">
    delete from productattributes where id = #{id}
  </delete>
  
  <select id="getAttributesByProductID" resultType="com.ineuron.domain.product.valueobject.Attribute">
    select * from productattributes where productid=#{productid}
  </select>
  
  <select id="getProcesses" resultType="com.ineuron.domain.product.valueobject.ManufacturingProcess">
    select * from productManufacturingProcess where productId = #{productId}
  </select>
  
  <delete id="deleteProcesses" >
    delete from productManufacturingProcess where productId = #{productId}
  </delete>
  
  <insert id="insertProcess">
      insert into productManufacturingProcess (productId,orderId,operationId,materialId,materialQuantity,equipmentId) 
      values (#{productId},#{orderId},#{operationId},#{materialId},#{materialQuantity},#{equipmentId})     
  </insert>
  
  <select id="getOperations" resultType="com.ineuron.domain.product.valueobject.Operation">
    select * from operations
  </select>
  
  <select id="getMaterials" resultType="com.ineuron.domain.product.valueobject.Material">
    select * from materials
  </select>
  
</mapper>