<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ineuron.dataaccess.db.mappers.UserMapper">
  
  
  <insert id="addUser">
    insert into users (username,lastname,firstname,password, role) 
	values(#{username},#{lastname},#{firstname},#{password},#{role})  
  </insert>
  
  <update id="updateUser">
    update users u set u.username = #{username}, u.lastname = #{lastname},
    u.firstname = #{firstname}, u.role = #{role} where id = #{id}
  </update>
  
   <select id="getUserByUsername" resultType="com.ineuron.domain.user.entity.User">
    select * from Users where username = #{username}
  </select>
  
  <select id="getUsers" resultType="com.ineuron.domain.user.entity.User">
    select * from Users
  </select>
  
  <!-- mappers for roles -->

 <insert id="addRole">
    insert into roles (rolename,permissions) 
	values(#{rolename},#{permissions})  
  </insert>
  
  <update id="updateRole" >
    update roles r set r.rolename = #{rolename}, r.permissions = #{permissions} where id = #{id}
  </update>
  
  <select id="getRoles" resultType="com.ineuron.domain.user.entity.Role">
    select * from roles
  </select>
</mapper>