<meta charset="utf-8">
<head>
<!-- Le styles -->
<link rel="stylesheet" href="/ineuron/css/lib/bootstrap.css">
<link rel="stylesheet" href="/ineuron/css/lib/bootstrap-responsive.css">
<link rel="stylesheet" href="/ineuron/css/lib/isteven-multi-select.css">
<link rel="stylesheet" href="/ineuron/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="/ineuron/css/inner-area.css">
<script src="/ineuron/js/lib/angular.min.js"></script>
<script src="/ineuron/js/lib/isteven-multi-select.js"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../ineuron/js/html5shiv.js"></script>
    <![endif]-->

</head>

<div ng-controller="RoleCreateController as roleCreate">
	<div class="message">添加角色</div>

	<div class="template">
		<hr class="hr20">
		<hr class="hr20">
		<form class="form-role" name="createrole">
			<table class="functionarea" id="table-style">
				<tbody>
					<tr>
						<td><hr class="hr15"></td>
					</tr>
					<tr>
						<td class="labelformat">角色名：</td>
						<td><input class="input-block-level" type="text"
							ng-model="updateRolename" required></td>
						<td></td>
					</tr>

					<tr>
						<td><hr class="hr15"></td>
					</tr>
					<tr>
						<td class="labelformat">备注：</td>
						<td><input class="input-block-level" type="text"
							ng-model="updateRoleDescription" value=""></td>
							<td></td>
					</tr>

					<tr>
						<td><hr class="hr15"></td>
					</tr>
					<tr>
						<td class="labelformat">特殊权限：</td>
						<td>
							<table>
								<tr>
									<td class="labelformat">功能</td>
									<td class="labelformat">操作</td>
								</tr>
								<tr ng-repeat="func in roleCreate.funcs">
									<td>{{func.name}}</td>
									<td>
										<div isteven-multi-select
											input-model="func.ops"
											output-model="func.output" button-label="operationname"
											item-label="operationname" tick-property="ticked"></div>
									</td>
								</tr>
								
								<tr>
									<td><hr class="hr15"></td>
								</tr>
								</table>
                                <tr>
									<td><hr class="hr15"></td>
								</tr>
								<tr>
									<td><button class="btn btn-large btn-primary"
											ng-disabled="!createrole.$valid"
											ng-click="roleCreate.createRole()">
											<span class="glyphicon glyphicon-upload"></span> 提交
										</button></td>
									<td></td>
								</tr>
								<tr>
									<td><hr class="hr15"></td>
								</tr>
								</tbody>
							</table>
							</form>
			</div>
</div> <!-- /container -->