<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="UserListController as userList">
	<!-- 
	<form class="form-inline" ng-submit="userList.addUser($index)">
	 -->
	 <div>
	<table datatable="ng" dt-options="userList.dtOptions"
		dt-column-defs="userList.dtColumnDefs" class="row-border hover">
		<thead>
			<tr>
				<th>用户名</th>
				<th>角色</th>
				<th>特殊权限</th>
				<th>查看/修改</th>
				<!-- <th><pre>查看</pre></th>  -->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in userList.users">
			   <!-- <td><input class="input-block-level" type="text" ng-model="user.username" value="disabled" required></td> -->
				<td>{{user.username}}</td>
				<td><nobr ng-repeat="role in user.roleList">{{$index+1}}{{ role.rolename}}; </nobr></td>
				<td>{{ user.permissionFlag }}</td>
				<td>
					<button type="button"
						ng-click="userList.updateUser($index)"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
					<!-- 
					<button type="button"
						ui-sref="updateUser({username:user.username})"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
					 -->
				</td>
				<!-- 
					<td>
						<button type="button" ng-click="userList.removeUser($index)"
							class="btn btn-success">
							<i class="fa fa-eye"></i>
						</button>
					</td>
					 -->

			</tr>
		</tbody>
	</table>
	</div>
	<!-- </form> -->
</div>