<meta charset="utf-8">
<head>
<!-- Le styles -->
<link href="/ineuron/css/lib/bootstrap.css" rel="stylesheet">
<link href="/ineuron/css/user.css" rel="stylesheet">
<link href="/ineuron/css/lib/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../ineuron/js/html5shiv.js"></script>
    <![endif]-->

</head>

<div class="register">
	<div class="message">琥崧智能工厂运营与控制系统-用户注册</div>
    <div id="darkbannerwrap"></div>
	<form class="form-user" name="registerform">
       <table style="width:100%">
       <tbody>
       <tr>
		<td><input type="text" class="input-block-level" ng-model="username" placeholder="用戶名" required></td>
		<td><nobr style="color:red">*</nobr></td> 
	   </tr>
	   <tr>
		<td><input type="text" class="input-block-level" ng-model="lastname" placeholder="姓"> </td>
		</tr>
		<tr>
		<td><input type="text" class="input-block-level" ng-model="firstname" placeholder="名"> </td>
		</tr>
		<tr>
		<td><input type="password" class="input-block-level" ng-model="password" placeholder="密码" required></td>
		<td style="color:red">*</td> 
		</tr>
		<tr>
		<td><input type="password"	class="input-block-level" ng-model="password2" placeholder="重复密码" required></td>
		<td style="color:red">*</td>
		</tr>
		<tr><td><hr class="hr20"></td></tr>
		<tr>
		<td><button class="btn btn-large btn-primary" ng-disabled="!registerform.$valid" ng-click="submitReg()" style="width:100%";>
			<span class="glyphicon glyphicon-plus"></span>注册
		</button></td>
		</tr>
		</tbody>
		</table>
	</form>
</div>
<!-- /container -->